<!DOCTYPE html>
<html>
  <head>
    <title>Original</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <p>Original Message</p>
  </header>
  <footer>
	<p>Copyright &copy; 2022 DIC.</p>
</footer>
    <%= yield %>
  </body>
</html>
